.subject-0, .subject-1, .subject-2, .subject-3, .subject-4, .subject-5, .subject-6, .subject-7, .subject-8, .subject-9, .subject-10, .subject-11, .subject-12, .subject-13, .subject-14{
	background: url(sprites.png) no-repeat;
}
.subject-0{
	background-position: -3152px 0;
	width: 244px;
	height: 243px;
}
.subject-1{
	background-position: -3152px 0;
	width: 244px;
	height: 243px;
}

.subject-2{
	background-position: -2909px 0;
	width: 244px;
	height: 243px;
}

.subject-3{
	background-position: -2666px 0;
	width: 244px;
	height: 243px;
}

.subject-4{
	background-position: -2424px 0;
	width: 244px;
	height: 243px;
}

.subject-5{
	background-position: -2182px 0;
	width: 244px;
	height: 243px;
}

.subject-6{
	background-position: -1941px 0;
	width: 244px;
	height: 243px;
}

.subject-7{
	background-position: -1699px 0;
	width: 244px;
	height: 243px;
}

.subject-8{
	background-position: -1456px 0;
	width: 244px;
	height: 243px;
}

.subject-9{
	background-position: -1213px 0;
	width: 244px;
	height: 243px;
}

.subject-10{
	background-position: -969px 0;
	width: 244px;
	height: 243px;
}

.subject-11{
	background-position: -727px 0;
	width: 244px;
	height: 243px;
}

.subject-12{
	background-position: -484px 0;
	width: 244px;
	height: 243px;
}

.subject-13{
	background-position: -242px 0;
	width: 244px;
	height: 243px;
}

.subject-14{
	background-position: 0 0;
	width: 244px;
	height: 243px;
}

